<!DOCTYPE html>
<html lang="en" class="adminMenuPage">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/styles.css">
        <title>West Coast Restaurant</title>
    </head>
    <body>
        <div class="page-end">
            <header>
                West Coast
            </header>
            <nav>
                <a href="/">
                    About Us
                </a>
                <a href="/lunch-menu">
                    Lunch Menu
                </a>
                <a href="/dinner-menu">
                    Dinner Menu
                </a>
                <a href="/regional-menu">
                    Regional Menu
                </a>
                <a href="#contact-anchor">
                    Get In Touch
                </a>
            </nav>
        </div>
    <main>
        <div id="adminContent">
        <div>
            {{#user}}
                <div class="flex-row">
                    <a id="logout" href="/logout" class="anchorBtn">
                        Sign out
                    </a>
                </div>
            {{/user}} 
        </div>  
            <section class="actionBox">
                    <h2>UPDATE LUNCH MENU</h2>
                        <div>
                            {{#lunchSpecialStarter}}
                            <h3>CHEF SPECIALS STARTERS</h3>
                                <form class="pairing">
                                    <p>{{name}}</p>
                                    <a href="admin-menu-items/{{_id}}" class="anchorBtn">Update</a>
                                </form>
                            {{/lunchSpecialStarter}}
                            <h3>CHEF SPECIAL MAINS</h3>
                            {{#lunchSpecialMain}}
                                <div class="pairing">
                                    <p>{{name}}</p>
                                    <a href="admin-menu-items/{{_id}}" class="anchorBtn">Update</a>
                                </div>
                            {{/lunchSpecialMain}}
                             <h3>STARTERS</h3>
                            {{#lunchStarters}}
                                <div class="pairing">
                                    <p>{{name}}</p>
                                    <a href="admin-menu-items/{{_id}}" class="anchorBtn">Update</a>
                                </div>
                            {{/lunchStarters}}
                            <h3>MAINS</h3>
                            {{#lunchMains}}
                                <div class="pairing">
                                    <p>{{name}}</p>
                                    <a href="admin-menu-items/{{_id}}" class="anchorBtn">Update</a>
                                </div>
                            {{/lunchMains}}
                            <h3>DESSERTS</h3>
                            {{#lunchDesserts}}
                                <div class="pairing">
                                    <p>{{name}}</p>
                                    <a href="admin-menu-items/{{_id}}" class="anchorBtn">Update</a>
                                </div>
                            {{/lunchDesserts}}
                        </div>
            </section>
            <section class="actionBox">
                    <h2>Update DINNER MENU</h2>
                        <div>
                            {{#dinnerSpecialStarter}}
                            <h3>CHEF SPECIALS STARTERS</h3>
                                <form class="pairing">
                                    <p>{{name}}</p>
                                    <a href="admin-menu-items/{{_id}}" class="anchorBtn">Update</a>
                                </form>
                            {{/dinnerSpecialStarter}}
                            <h3>CHEF SPECIAL MAINS</h3>
                            {{#dinnerSpecialMain}}
                                <div class="pairing">
                                    <p>{{name}}</p>
                                    <a href="admin-menu-items/{{_id}}" class="anchorBtn">Update</a>
                                </div>
                            {{/dinnerSpecialMain}}
                             <h3>STARTERS</h3>
                            {{#dinnerStarters}}
                                <div class="pairing">
                                    <p>{{name}}</p>
                                    <a href="admin-menu-items/{{_id}}" class="anchorBtn">Update</a>
                                </div>
                            {{/dinnerStarters}}
                            <h3>MAINS</h3>
                            {{#dinnerMains}}
                                <div class="pairing">
                                    <p>{{name}}</p>
                                    <a href="admin-menu-items/{{_id}}" class="anchorBtn">Update</a>
                                </div>
                            {{/dinnerMains}}
                            <h3>DESSERTS</h3>
                            {{#dinnerDesserts}}
                                <div class="pairing">
                                    <p>{{name}}</p>
                                    <a href="admin-menu-items/{{_id}}" class="anchorBtn">Update</a>
                                </div>
                            {{/dinnerDesserts}}
                        </div>
            </section>
            <section class="actionBox">
                    <h2>Update REGIONAL MENU</h2>
                        <div>
                             <h3>STARTERS</h3>
                            {{#regionalStarters}}
                                <div class="pairing">
                                    <p>{{name}}</p>
                                    <a href="admin-menu-items/{{_id}}" class="anchorBtn">Update</a>
                                </div>
                            {{/regionalStarters}}
                            <h3>MAINS</h3>
                            {{#regionalMains}}
                                <div class="pairing">
                                    <p>{{name}}</p>
                                    <a href="admin-menu-items/{{_id}}" class="anchorBtn">Update</a>
                                </div>
                            {{/regionalMains}}
                            <h3>DESSERTS</h3>
                            {{#regionalDesserts}}
                                <div class="pairing">
                                    <p>{{name}}</p>
                                    <a href="admin-menu-items/{{_id}}" class="anchorBtn">Update</a>
                                </div>
                            {{/regionalDesserts}}
                        </div>
            </section>
        </div>
    </main>
    <footer class="page-end" id="contact-anchor">
        <div class="footer-section">
            <h4>Restaurant Address</h4>
            <p>123 St Vincent Street<br>Glasgow<br>G2 5TS</p>
        </div>
        <div class="footer-section">
            <h4>Contact Us</h4>
            <p>0123 456 7890<br>westcoast@gmail.com</p>
        </div>
        <div class="footer-section">
            <h4>Follow us on social media</h4>
            <img src="./imgs/social-media-icons.png" alt="facebook twitter, instagram icons">
        </div>
    </footer>
    </body>