<!DOCTYPE html>
<html lang="en" class="adminPage">
    <header>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/styles.css">
        <title>West Coast Restaurant</title>
    </header>
    <body>
        <div class="page-end">
            <header>
                West Coast
            </header>
            <nav>
                <a href="/">
                    About Us
                </a>
                <a href="/lunch-menu">
                    Lunch Menu
                </a>
                <a href="/dinner-menu">
                    Dinner Menu
                </a>
                <a href="/regional-menu">
                    Regional Menu
                </a>
                <a href="#contact-anchor">
                    Get In Touch
                </a>
            </nav>
        </div>
    <main>
        <div id="adminContent">
            {{#user}}
                <a id="logout" href="/logout" class="logoutBtn">
                    Sign out
                </a>
            {{/user}}
            <section class="actionBox">
                <h3>ADD NEW MENU ITEM</h3>
                <form>
                    <div class="pairing">
                        <label for="newDishName">NAME</label>
                        <input type="text" id="newDishName" name="newDishName"><br>
                    </div>
                    <div class="pairing">
                        <label for="newDishDesc">DESCRIPTION</label>
                        <input type="text" id="newDishDesc" name="newDishDesc"><br>
                    </div>
                    <div class="pairing">
                        <label for="newDishIngr">INGREDIENTS</label>
                        <input type="text" id="newDishIngr" name="newDishIngr"><br>
                        <button type="button" id="newDishIngrAdd" class="addBtn" name="newDishIngrAdd">ADD</button><br>
                    </div>
                    <div class="pairing">
                        <label for="newDishAllergens">ALLERGENS</label>
                        <select name="newDishAllergens" id="newDishAllergens">
                            <option value="Dairy">Dairy</option>
                            <option value="Gluten">Gluten</option>
                            <option value="Fish">Fish</option>
                            <option value="Shellfsh">Shellfish</option>
                            <option value="Soy">Soy</option>
                            <option value="Eggs">Eggs</option>
                            <option value="Peanuts">Peanuts</option>
                            <option value="Tree Nuts">Tree Nuts</option>
                        </select>
                        <button type="button" id="newDishAllergenAdd" class="addBtn" name="newDishAllergenAdd">ADD</button><br>
                    </div>

                    
                    <div class="pairing">
                        <label for="newDishPrice" id="price">PRICE</label>
                        <div class="price-select">
                            <p>£
                            <select id="newDishPrice" required>
                                <option value="1.00">1.00</option>
                                <option value="1.50">1.50</option>
                                <option value="2.00">2.00</option>
                                <option value="2.50">2.50</option>
                                <option value="3.00">3.00</option>
                                <option value="3.50">3.50</option>
                                <option value="4.00">4.00</option>
                                <option value="4.50">4.50</option>
                                <option value="5.00">5.00</option>
                                <option value="5.50">5.50</option>
                                <option value="6.00">6.00</option>
                                <option value="6.50">6.50</option>
                                <option value="7.00">7.00</option>
                                <option value="7.50">7.50</option>
                                <option value="8.00">8.00</option>
                                <option value="8.50">8.50</option>
                                <option value="9.00">9.00</option>
                                <option value="9.50">9.50</option>
                                <option value="10.00">10.00</option>
                                <option value="10.50">10.50</option>
                                <option value="11.00">11.00</option>
                                <option value="11.50">11.50</option>
                                <option value="12.00">12.00</option>
                                <option value="12.50">12.50</option>
                                <option value="13.00">13.00</option>
                                <option value="13.50">13.50</option>
                                <option value="14.00">14.00</option>
                                <option value="14.50">14.50</option>
                                <option value="15.00">15.00</option>
                                <option value="15.50">15.50</option>
                                <option value="16.00">16.00</option>
                                <option value="16.50">16.50</option>
                                <option value="17.00">17.00</option>
                                <option value="17.50">17.50</option>
                                <option value="18.00">18.00</option>
                                <option value="18.50">18.50</option>
                                <option value="19.00">19.00</option>
                                <option value="19.50">19.50</option>
                                <option value="20.00">20.00</option>
                                <option value="20.50">20.50</option>
                            </select>
                            </p>
                        </div>
                    </div>
                    <div class="pairing">
                        <label for="newDishMenu">ASSIGN MENU</label>
                        <select id="newDishMenu">
                            <option>Dinner</option>
                            <option>Lunch</option>
                            <option>Regional</option>
                        </select>
                    </div>
                    <div class="pairing">
                        <label for="newDishCourse">ASSIGN COURSE</label>
                        <select id="newDishCourse">
                            <option>Starter</option>
                            <option>Dinner</option>
                            <option>Dessert</option>
                        </select>
                    </div>
                    <div class="pairing">
                        <label for="newDishSpecials">CHEF SPECIAL</label>
                        <input type="checkbox" id="newDishSpecials" name="newDishSpecials" value="true">
                    </div>
                    <div class="pairing">
                        <label for="newDishActive">ACTIVE</label>
                        <input type="checkbox" id="newDishActive" name="newDishActive" value="true">
                    </div>
                    <div class="centerAlign"><input type="submit" value="ADD DISH"></div>
                </form>
            </section>
            <section>
                <h3 class="centerAlign">UPDATE CURRENT MENUS</h3>
                <form class="centerAlign">
                    <button class="wideBtn" formaction="/admin-menu-items" formmethod="get">EDIT MENU ITEMS</button>
                </form>
            </section>
        <div>
    </main>
    <footer class="page-end" id="contact-anchor">
            <div class="footer-section">
                <h4>Restaurant Address</h4>
                <p>123 St Vincent Street<br>Glasgow<br>G2 5TS</p>
            </div>
            <div class="footer-section">
                <h4>Contact Us</h4>
                <p>0123 456 7890<br>westcoast@gmail.com</p>
            </div>
            <div class="footer-section">
                <h4>Follow us on social media</h4>
                <img src="./imgs/social-media-icons.png" alt="facebook twitter, instagram icons">
            </div>
        </footer>
    </body>
</html>