<html>
    <header>
        {{>head}}
    </header>
    <body>
        <main>
            <h1>ADMIN LOGIN<h1>
            <section>
                <form>
                    <label for="email">email</label>
                    <input type="text" name="email">
                    <label for="password">email</label>
                    <input type="password" name="password">
                    <button type="submit">LOGIN</button>
                </form>
            </section>
    </body>
</html>