<html>
     <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>West Coast Restaurant</title>
    </head>
    <body>
        <nav>
            <a href="/lunch-menu">
                Lunch Menu
            </a>
            <a href="/dinner-menu">
                Dinner Menu
            </a>
            <a href="/regional-menu">
                Regional Menu
            </a>
            <a href="#contact-anchor">
                Get In Touch
            </a>
        </nav>
        <h1> LUNCH MENU</h1>
        <div id="specials">
            <h3>CHEF'S SPECIALS</h3>
            {{#dish}} ///sort for specials on regional menu
                <div>
                    <h6>{{dishName}}</h6>
                    <p>{{description}}</p>
                    <p>Contains: {{ingredients}}</p>
                    <p>Contains {{allergens}}</p>
                    <p>{{price}}</p>
                </div>
            {{/dish}}
        </div>
        <div>
            <h3>STARTERS</h3>
            {{#dish}} ///sort for starters on regional menu
                <div>
                    <h6>{{dishName}}</h6>
                    <p>{{description}}</p>
                    <p>Contains: {{ingredients}}</p>
                    <p>Contains {{allergens}}</p>
                    <p>{{price}}</p>
                </div>
            {{/dish}}
        </div>
        <div>
            <h3>MAINS</h3>
            {{#dish}} ///sort for mains on regional menu
                <div>
                    <h6>{{dishName}}</h6>
                    <p>{{description}}</p>
                    <p>Contains: {{ingredients}}</p>
                    <p>Contains {{allergens}}</p>
                    <p>{{price}}</p>
                </div>
            {{/dish}}
        </div>
        <div>
            <h3>DESSERTS</h3>
            {{#dish}} ///sort for desserts on regional menu
                <div>
                    <h6>{{dishName}}</h6>
                    <p>{{description}}</p>
                    <p>Contains: {{ingredients}}</p>
                    <p>Contains {{allergens}}</p>
                    <p>{{price}}</p>
                </div>
            {{/dish}}
        </div>
    </body>
    <footer>
        <p>contact info</p>
    </footer>
</html>