*, *::after, *::before {
    box-sizing: border-box;
    font-family: Arial;
}

:root {
    /*Color variables*/
    --main-bg-color: hsl(48, 14%, 93%);
    --nav-footer-color: hsl(202, 85%, 8%);
    --main-content-color:hsl(0, 0%, 100%);
    --button-color: hsl(175, 20%, 68%);
    --header-color: hsl(0, 0%, 100%);
    /*Font variables*/
    font-size: larger;
}

body{
    background-color: var(--main-bg-color);
    margin: 0;
    width: auto;
}

.page-end {
    background-color: var(--nav-footer-color);
    display: flex;
    padding: 2%;
    width: auto;
}

nav {
    padding: 1%;
    width: 60%;
    margin-left: 20%;
}

nav a {
    text-decoration: none;
    color: var(--header-color);
    margin-left: 2%;
}

header {
    color: var(--header-color);
    font-weight: bolder;
    font-size:200% ;
}

main {
    width: auto;
}

/* Styling for about page */
.banner-img {
    margin: 0;
    width: 100%;
}

.flex-row {
    display: flex;
}

.about-info {
    background-color: var(--main-content-color);
    margin: 5% 10%;
    border-radius: 1rem
}

#about-content {
    padding: 2% 5%;
    width: 100%;
}

#about-img {
    width: 70%;
    max-height: 80%;
    margin-right: 4%;
    margin-top: 3%;
    float: right;
    padding: auto;
}

.menu-info {
    background-color: var(--main-content-color);
    margin: 5% 10%;
    border-radius: 1rem;
}

.menu-anchor {
    width: 25%;
    margin:5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-anchor img {
    width: 80%;
    height: auto;
}

#aboutPage button {
    max-width: 150%;
    padding: 10% 4%;
    margin: 0;
    font-weight: bold;
    background-color: var(--button-color);
    border: none;
    border-radius: 10px;
}

footer {
    color: var(--header-color);
}

.footer-section {
    width: 25%;
    margin:0 5%;
}

/* Styling for Menu Page */

#menu-content {
    background-color: var(--main-content-color);
    border-radius: 1rem;
    width: auto;
    margin: 5% 10%;
    padding: 2%;
}

#specials {
    display: flex;
    flex-direction: row;
    background-color: var(--button-color);
    width: 50%;
    margin: auto;
    border-radius: 1rem;
    padding: 1%;
}

#menu-content * {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu-content p {
    font-size: 80%;
    line-height: 0;
}

.course {
    margin-bottom: 2%;
}

.bold {
    font-weight: bolder;
}

/* Styling for Login page */

#loginPage h2 {
    margin: 5% 45%;
}

#loginPage input[type=text] {
    width: 50%;
    padding: 1%;
}

#loginPage input[type=password] {
    width: 50%;
    padding: 1%;
}

#actionBox {
    padding: 0 5%;
}

#loginPage button {
    width: 20%;
    padding: 1%;
    background-color: var(--nav-footer-color);
    border: none;
    border-radius: 0.5rem;
    color: var(--main-bg-color);
    margin: 1% 40%;
}

/* Styling for Admin Page */

.adminPage button {
    width: 8%;
    padding: 1%;
    background-color: var(--nav-footer-color);
    border: none;
    border-radius: 0.5rem;
    color: var(--main-bg-color);
}

.actionBox {
    background-color: var(--button-color);
    border-radius: 1rem;
    width: auto;
    margin: 5% 10%;
    padding: 2%;
}

#adminContent {
    background-color: var(--main-content-color);
    border-radius: 1rem;
    width: auto;
    margin: 5% 10%;
    padding: 2%;
}

.pairing {
    display: flex;
    margin: 3%;
}

.pairing label {
    width: 30%;
    line-height: 200%;
}

#price {
    margin-right: auto;
    padding-top: 3%;
    width: auto;
}

#price-section {
    margin-right: 50%;
}

.adminPage input[type=text] {
    width: 50%;
    padding: 1%;
}

#newDishAllergens, #newDishMenu, #newDishCourse {
    width: 20%;
    padding: 1%;
}

#newDishPrice1, #newDishPrice2 {
    padding: 5% 0;
}

.addBtn {
margin-left: 5%;
}

input[type=submit] {
    background-color: var(--nav-footer-color);
    border-radius: 0.5rem;
    width: 20%;
    padding: 1%;
    color: var(--main-content-color);
    margin: 0 40%;
}

/* Admin menu editing pages */

.anchorBtn {
    width: 10%;
    padding: 1%;
    background-color: var(--nav-footer-color);
    margin: 5%;
    border-radius: 0.5rem;
    color: var(--main-content-color);
    text-decoration: none;
}

.adminMenuPage button {
    width: 10%;
    padding: 1%;
    background-color: var(--nav-footer-color);
    margin: 2%;
    border-radius: 0.5rem;
    color: var(--main-content-color);
}