*, *::after, *::before {
    box-sizing: border-box;
    font-family: Arial;
}

:root {
    /*Color variables*/
    --main-bg-color: hsl(48, 14%, 93%);
    --nav-footer-color: hsl(202, 85%, 8%);
    --main-content-color:hsl(0, 0%, 100%);
    --button-color: hsl(175, 20%, 68%);
    --header-color: hsl(0, 0%, 100%);
    /*Font variables*/
    font-size: larger;
}

body{
    background-color: var(--main-bg-color);
    margin: 0;
    width: auto;
}

.page-end {
    background-color: var(--nav-footer-color);
    display: flex;
    padding: 2%;
    width: auto;
}

nav {
    padding: 1%;
    width: 60%;
    margin-left: 20%;
}

nav a {
    text-decoration: none;
    color: var(--header-color);
    margin-left: 2%;
}

header {
    color: var(--header-color);
    font-weight: bolder;
    font-size:200% ;
}

main {
    width: auto;
}

/* Styling for about page */
.banner-img {
    margin: 0;
    width: 100%;
}

.flex-row {
    display: flex;
}

.about-info {
    background-color: var(--main-content-color);
    margin: 5% 10%;
    border-radius: 1rem
}

#about-content {
    padding: 2% 5%;
    width: 100%;
}

#about-img {
    width: 70%;
    max-height: 80%;
    margin-right: 4%;
    margin-top: 3%;
    float: right;
    padding: auto;
}

.menu-info {
    background-color: var(--main-content-color);
    margin: 5% 10%;
    border-radius: 1rem;
}

.menu-anchor {
    width: 25%;
    margin:5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-anchor img {
    width: 80%;
    height: auto;
}

#aboutPage button {
    max-width: 150%;
    padding: 10% 4%;
    margin: 0;
    font-weight: bold;
    background-color: var(--button-color);
    border: none;
    border-radius: 10px;
}

footer {
    color: var(--header-color);
}

.footer-section {
    width: 25%;
    margin:0 5%;
}

.centerAlign {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for Menu Page */

#menu-content {
    background-color: var(--main-content-color);
    border-radius: 1rem;
    width: auto;
    margin: 5% 10%;
    padding: 2%;
}

#specials {
    display: flex;
    flex-direction: row;
    background-color: var(--button-color);
    width: 50%;
    margin: auto;
    border-radius: 1rem;
    padding: 1%;
}

#menu-content * {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu-content p {
    font-size: 80%;
    line-height: 0;
}

.course {
    margin-bottom: 2%;
}

.bold {
    font-weight: bolder;
}

/* Styling for Login page */

#loginPage h2 {
    margin: 5% 45%;
}

#loginPage input[type=text] {
    width: 50%;
    padding: 1%;
}

#loginPage input[type=password] {
    width: 50%;
    padding: 1%;
}

#actionBox {
    padding: 0 5%;
}

#loginPage button {
    width: 20%;
    padding: 1%;
    background-color: var(--nav-footer-color);
    border: none;
    border-radius: 0.5rem;
    color: var(--main-bg-color);
    margin: 1% 40%;
}

/* Styling for Admin Page */

.addBtn {
    width: 8%;
    padding: 1%;
    background-color: var(--nav-footer-color);
    border: none;
    border-radius: 0.5rem;
    color: var(--main-bg-color);
    margin-left: 5%;
}

.actionBox {
    background-color: var(--button-color);
    border-radius: 1rem;
    width: auto;
    margin: 5% 10%;
    padding: 2%;
}

#adminContent {
    background-color: var(--main-content-color);
    border-radius: 1rem;
    width: auto;
    margin: 5% 10%;
    padding: 2%;
}

.pairing {
    display: flex;
    margin: 3%;
}

.price-select {
    margin-right: 50%;
}

.pairing label {
    width: 30%;
    line-height: 200%;
}

#price {
    margin-right: auto;
    padding-top: 3%;
    width: auto;
}

#price-section {
    margin-right: 50%;
}

.adminPage input[type=text] {
    width: 50%;
    padding: 1%;
}

#newDishAllergens, #newDishMenu, #newDishCourse {
    width: 20%;
    padding: 1%;
}

#newDishPrice1, #newDishPrice2 {
    padding: 5% 0;
}

input[type=submit] {
    background-color: var(--nav-footer-color);
    border-radius: 0.5rem;
    width: 20%;
    padding: 1%;
    color: var(--main-content-color);
    margin: 5% auto;
}

.wideBtn {
    background-color: var(--nav-footer-color);
    border-radius: 0.5rem;
    width: 40%;
    padding: 1%;
    color: var(--main-content-color);
    margin: 0 40%;
}

.logoutBtn{
    background-color: var(--nav-footer-color);
    border-radius: 0.5rem;
    width: 20%;
    padding: 1%;
    color: var(--main-content-color);
    text-decoration: none;
}

/* Admin menu editing pages */

.anchorBtn {
    width: auto;
    padding: 1%;
    background-color: var(--nav-footer-color);
    margin: 5%;
    border-radius: 0.5rem;
    color: var(--main-content-color);
    text-decoration: none;
}

.adminMenuPage button {
    width: 10%;
    padding: 1%;
    background-color: var(--nav-footer-color);
    margin: 2%;
    border-radius: 0.5rem;
    color: var(--main-content-color);
}

.adminMenuPage p {
    line-height: 250%;
}

.adminMenuPage .pairing {
    border: solid 1px var(--nav-footer-color);
    padding: 0 5%;
    border-radius: 0.5rem;
}

/* media queries for mobile view */
@media screen and (max-width: 425px) {
    nav {
        padding: 1%;
        width: 60%;
        margin-left: 5%;
        display: flex;
        flex-wrap: wrap;
    }
    nav a {
        text-decoration: none;
        color: var(--header-color);
        margin-left: 2%;
        font-size: 60%;
    }
    .about-info {
        background-color: var(--main-content-color);
        margin: 5% 10%;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
    }
    #about-img {
        width: 70%;
        max-height: 80%;
        margin-right: 2%;
        margin-top: 3%;
        margin-bottom: 3%;
        float: right;
        padding: auto;
    }
    .menu-info {
        background-color: var(--main-content-color);
        margin: 5% 10%;
        display: flex;
        flex-direction: column;
    }
    .menu-anchor {
        width: 25%;
        margin: 5% auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu-anchor img {
        width: 200%;
        height: auto;
    }
    #aboutPage button {
        width: 8rem;
        padding: 10% 4%;
        margin: 0;
        font-weight: bold;
        background-color: var(--button-color);
        border: none;
        border-radius: 10px;
    }
    footer {
        color: var(--header-color);
    }
    .footer-section {
        max-width: 100%;
        margin:0 5%;
        display: flex;
        flex-direction: column;
    }
    #specials {
        display: flex;
        flex-direction: column;
        background-color: var(--button-color);
        width: 90%;
        margin: auto;
        border-radius: 1rem;
        padding: 1%;
    }
    #menu-content p {
        font-size: 80%;
        line-height: 0;
        line-height: 200%;
        max-width: 80%;
        display: flex;
    }
    #loginPage .pairing {
        display: flex;
        flex-direction: column;
    }
    #loginPage label {
        width: auto;
        margin: 0 auto;
    }
    #loginPage input[type=text] {
        width: 50%;
        margin: 0 auto;
    }
    #loginPage input[type=password] {
        width: 50%;
        padding: 1%;
        margin: 0 auto;
    }
    #loginPage button {
        width: 30%;
        padding: 3%;
        background-color: var(--nav-footer-color);
        border: none;
        border-radius: 0.5rem;
        color: var(--main-bg-color);
        margin: 3% 35%;
    }
    #loginPage h2 {
        margin: 5% 35%;
    }
    .adminPage .pairing{
        display: flex;
        flex-direction: column;
    }
    .adminPage label {
        width: auto;
    }
    .addBtn {
        width: 30%;
        padding: 3%;
        background-color: var(--nav-footer-color);
        border: none;
        border-radius: 0.5rem;
        color: var(--main-bg-color);
    }
    .adminPage input[type=text] {
        width: 90%;
        padding: 1%;
    }
    #newDishAllergens, #newDishMenu, #newDishCourse {
        width: 50%;
        padding: 1%;
    }
    input[type=submit] {
        background-color: var(--nav-footer-color);
        border-radius: 0.5rem;
        width: 50%;
        padding: 3%;
        color: var(--main-content-color);
        margin: 5% auto;
    }
    .wideBtn {
        background-color: var(--nav-footer-color);
        border-radius: 0.5rem;
        width: 80%;
        padding: 3%;
        color: var(--main-content-color);
        margin: 5% auto;
    }
    .adminMenuPage .pairing{
        display: flex;
        flex-direction: column;
    }
    .anchorBtn {
        width: 70%;
        padding: 3% 20%;
        background-color: var(--nav-footer-color);
        margin: 5%;
        border-radius: 0.5rem;
        color: var(--main-content-color);
        text-decoration: none;
    }
    #updateDishPage .pairing{
        display: flex;
        flex-direction: column;
    }
    #updateDishPage p {
        line-height: 250%;
        display: flex;
        overflow-wrap: break-word;
    }
}